    <footer>
        <div class="container-footer-content">
            <a href="/"><img src="/images/CodeSquad-The-Game-Logo-Red-Black.png" alt="logo: staggered opening and closing tag to the left with CodeSquad The Game text to the right" class="logo-footer"></a>
        </div>
        <div class="container-footer-links">
            <div class="footer-links-column">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/resources">RESOURCES</a></li>
                </ul>
            </div>
            <div class="footer-links-column">
                <ul>
                    <li><a href="/profile">PROFILE</a></li>
                    <li><a href="/scoreboard">SCOREBOARD</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="container-footer-content">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/resources">RESOURCES</a></li>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/scoreboard">SCOREBOARD</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </div>
        <div class="container-footer-content">
            <ul>
                <li><a href="/profile">PROFILE</a></li>
                <li><a href="/scoreboard">SCOREBOARD</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </div> -->
        <div class="container-footer-content">
            <span class="logo-label-footer">A PROJECT OF</span>
            <a href="http://codesquad.org/" target="_blank" rel="noopener noreferrer"><img src="/images/CodeSquad-Logo-Red-Black.png" alt="CodeSquad logo: staggered opening and closing tag to the left with CodeSquad.org text to the right" class="logo-footer"></a>
            
        </div>
    </footer>

</body>
<script src="/scripts/scripts.js"></script>
</html>