<!-- message variable needs to be created to pass into the /home/:message route -->
<% let message = 'none' %>
    <footer>
        <div class="container-footer-content">
            <a href="/home/<%= message %>"><img src="/images/CodeSquad-The-Game-Logo-Red-Black.png" alt="logo: staggered opening and closing tag to the left with CodeSquad The Game text to the right" class="logo-footer"></a>
        </div>
        <div class="container-footer-links">
            <% if(user === undefined) { %>
                <div class="footer-links-column">
                    <ul>
                        <li><a href="/home/<%= message %>">ADD POINTS</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/profile/login">LOGIN</a></li> 
                    </ul>
                </div>
                
            <% } else { %>
                <div class="footer-links-column">
                    <ul>
                        <li><a href="/home/<%= message %>">ADD POINTS</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/resources">RESOURCES</a></li>
                    </ul>
                </div>
                <div class="footer-links-column">
                    <ul>
                        <li><a href="/profile/page/<%= message %>">PROFILE</a></li>
                        <li><a href="/scoreboard">SCOREBOARD</a></li>
                        <li><a href="/profile/logout">LOGOUT</a></li>
                    </ul>
                </div>
            <% } %> 



        </div>
        <div class="container-footer-content">
            <span class="logo-label-footer">A PROJECT OF</span>
            <a href="http://codesquad.org/" target="_blank" rel="noopener noreferrer"><img src="/images/CodeSquad-Logo-Red-Black.png" alt="CodeSquad logo: staggered opening and closing tag to the left with CodeSquad.org text to the right" class="logo-footer"></a>
            
        </div>
    </footer>

</body>
<script src="/scripts/scripts.js"></script>
</html>