<div class="container-graduate-list-row">
    <img src="<%= graduate.photoUrl %>" alt="headshot of graduate">
    <%= graduate.name %><br />
    <%= graduate.cohortYear %><br />
    <a href="/admin/graduateEdit/<%= graduate._id %>">Edit</a>
    <br />
</div>