<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Welcome to CodeSquad The Game</h1>

    <p>CodeSquad The Game is a web application meant to challenge CodeSquad graduates to continue their web development journey. Compete with other grads to earn the most points during competition windows and win prizes! You must be a CodeSquad graduate to play, but if you're not, head over to <a href="http://codesquad.org/students.html" target="_blank" rel="noopener noreferrer" class="container-content-link">CodeSquad.org</a> to learn more about our free web development bootcamp.</p>

    <p>For graduates, start by <a href="/profile/login" class="container-content-link">logging in</a>. First you'll enter the email address you have associated with CodeSquad (in all lowercase letters), then you'll be able to authenticate yourself with GitHub. Email Melissa at melissa@codesquad.org if you are unsure what email to use to log into your account, if you have issues logging in, or to change any account info that you can't change yourself via the Profile page.</p>

    <p>Once you're logged in, you'll be able to start logging your accomplishments either from the homepage you're directed to after signing in or by clicking <a href="/home/none" class="container-content-link">Add Points</a> from the navigation bar or footer. We have set up several categories, each containing specific tasks that will help you continue your web development job search and journey. Some tasks can only be completed one time or once per day, and those are noted in parentheses after the task description. </p>

    <p>You can edit the completion date of a task before entering it by clicking the Date Completed input and choosing the correct date. You can edit the date of a task after you've entered it by changing the Completed input and clicking the Update button in the second part of the <a href="/home/none" class="container-content-link">Add Points page</a> or via your Completed Tasks list on your <a href="/profile/page/none" class="container-content-link">Profile page</a>. You can delete a task with the delete button located in the same sections where date editing is done.</p>

    <p>See which CodeSquad grads have the most points for the month and the most all-time points by navigating to the <a href="/scoreboard" class="container-content-link">Scoreboard</a> through the navbar or the footer. The <a href="/resources" class="container-content-link">Resources page</a> contains an embedded document that breaks down different career specializations grads are ready to pursue after graduation and provides suggesstions and resources for pursuing each specialization.</p>

    <p>If you run into any problems with the website, contact Melissa at melissa@codesquad.org with a brief description of the issue.</p>
</div>



<%- include('../partials/footer') -%> 