<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Admin Page</h1>
    <a href="/admin/createGraduate" class="container-content-link">Create a Graduate</a>
    <br />
    <a href="/admin/graduatesList" class="container-content-link">View and Edit Graduates</a>
    <br />
    <a href="/admin/createGameTask" class="container-content-link">Create Game Task</a>
    <br />
    <a href="/admin/gameTasksList" class="container-content-link">View and Edit Tasks for the Game</a>
    <br />
</div>



<%- include('../partials/footer') -%> 