<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Admin Page</h1>
    <a href="/admin/createGraduate">Create a Graduate</a>
    <br />
    <a href="/admin/graduatesList">View and Edit Graduates</a>
</div>



<%- include('../partials/footer') -%> 