<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Create Graduate Page</h1>
    <form action="/admin/createGraduate" method="POST">
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" placeholder="Full Name">
        <br /> <br />

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email">
        <br /> <br />

        <label for="cohortYear">Cohort Year:</label>
        <input type="text" id="cohortYear" name="cohortYear" placeholder="Cohort Year">
        <br /> <br />

        <label for="photoUrl">Photo URL Path:</label>
        <input type="text" id="photoUrl" name="photoUrl" placeholder="Photo URL Path">
        <br /> <br />

        <label for="githubUrl">GitHub URL:</label>
        <input type="text" id="githubUrl" name="githubUrl" placeholder="GitHub URL">
        <br /> <br />

        <label for="linkedinUrl">LinkedIn URL:</label>
        <input type="text" id="linkedinUrl" name="linkedinUrl" placeholder="LinkedIn URL">
        <br /> <br />

        <p>Admin Status</p>
        <input type="radio" id="adminYes" name="adminStatus" value="Admin">
        <label for="adminYes">Admin</label>
        <input type="radio" id="adminNo" name="adminStatus" value="Not an Admin" checked>
        <label for="adminNo">Not an Admin</label>
        <br /> <br />

        <input type="submit">


    </form>
</div>



<%- include('../partials/footer') -%> 