<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Game Tasks Page</h1>
    <div class="container-buttons-row">
        <a href="/admin" class="link-button">Back to Admin Dashboard</a>
        <a href="/admin/createGameTask" class="link-button">Create a Game Task</a>
    </div>
    
    <div class="container-table">
        <table>
            <th>CATEGORY</th>
            <th>TASK</th>
            <th>POINTS</th>
            <th>MAX RATE</th>
            <th>CONTROLS</th>
            <% gameTasks.forEach( gameTask => { %>
                <%- include ('../partials/game-task-single', {gameTask: gameTask}) %>
            <% }) %>
        </table>
    </div>

    
    
    
</div>



<%- include('../partials/footer') -%> 