<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Login</h1>
    <% if(message != undefined) { %>
        <p> <%= message %> </p>
    <% } %> 
    <div class="container-form">
        <form action="/profile/login" method="POST">
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="email">Email:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="container-button-submit">
                <input type="submit" value="Login with GitHub" class="button-submit red-accents">
            </div>
        </form>
    </div>
      
</div>

<%- include('../partials/footer') -%> 