<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Profile Page</h1>
    <a href="/admin">Admin Dashboard</a>
</div>



<%- include('../partials/footer') -%> 