<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Resources</h1>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTjDLA3eSeo2xYoCbnJLkHjmyXLwtOBYOZaI3TDX0-zh5aX4aX6ruoAUBBz1MpEQvdOasN_nwq89cqc/embed?start=false&loop=false&delayms=60000" frameborder="0" width="1224" height="1613" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>



<%- include('../partials/footer') -%> 