<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Profile Page</h1>
    <a href="/admin">Admin Dashboard</a>
    <% if(successMessage) { %>
        <p>  <%= successMessage  %>  </p>
    <% } %> 
    <a href="/profile/logout">Logout</a>
</div>



<%- include('../partials/footer') -%> 