/* Whole-Site Styling */
:root {
    --red: #CB3623;
    --dark-grey: #252324;
    --light-grey: #F1F1F1;
    --grey: #A0A09E;
    --white: #ffffff;
    --black: #000000;  
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', Lato, sans-serif;
}

/* Navigation Styling */
nav {
    width: 100%;
    margin: 0;
    padding: 1% 0;
    height: 120px;
    background-color: var(--light-grey);
    border-bottom: var(--red) 4px solid;
    border-top: var(--red) 4px solid;
}

.nav-logo {
    margin-left: 1rem;
    width: 225px;
    height: auto; 
    float: left;
    margin-top: 5px;
}

.container-nav-dropdown {
    display: none;
}

.container-nav-list {
    height: 120px;
    padding: 30px 0 0 0;
}

.container-nav-list ul {
    display: inline-flex;
    float: right;
    margin-right: 1rem;
    list-style-type: none;
}

.container-nav-list li {
    font-size: 1.4rem;
}

.container-nav-list a {
    margin: 0 20px;  
}

.navbar li a:link,
.navbar li a:visited {
    color: var(--dark-grey);
    text-decoration: none;
}

.navbar li a:hover,
.navbar li a:active {
    color: var(--red);
    border-bottom: var(--red) 2px solid;
    border-top: var(--red) 2px solid;
}

/* Navigation Media Queries */
@media screen and (min-width: 1px) and (max-width: 1200px) {
    .container-nav-list {
        display: none;
    }
    
    .container-nav-dropdown {
        display: block;
        float: right;
        margin-right: 3rem;
        font-size: 2.7rem;
        padding: 0;
    }

    .container-nav-dropdown ul {
        list-style-type: none;
        text-align: right;
    }

    .navbar-dropdown-list {
        display: none;
    }

    .navbar-dropdown-list.navbar-dropdown-open {
        display: block;
        font-size: 1.4rem;
        box-shadow: 0px 4px 8px 0px var(--grey);
        z-index: 1;
        padding: 10px 20px;
        background-color: var(--light-grey);
        overflow: overlay;
    }

    .navbar-dropdown-list.navbar-dropdown-open li {
        margin: 10px 0;
    }

    .nav-menu-icon a:link,
    .nav-menu-icon a:visited {
        color: var(--dark-grey);
        text-decoration: none;
    }

    .nav-menu-icon a:hover,
    .nav-menu-icon a:active {
        color: var(--red);
        text-decoration: none;
    }

    .navbar-dropdown-list li a:link,
    .navbar-dropdown-list li a:visited {
        color: var(--dark-grey);
        text-decoration: none;
    }

    .navbar-dropdown-list li a:hover,
    .navbar-dropdown-list li a:active {
        color: var(--red);
        border-bottom: var(--red) 2px solid;
        border-top: var(--red) 2px solid;
    }
}

/* Footer Styling */
footer {
    width: 100%;
    margin: 0;
    padding: 1% 0;
    height: fit-content;
    background-color: var(--light-grey);
    border-bottom: var(--red) 4px solid;
    border-top: var(--red) 4px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    color: var(--black);
    text-align: center;
}

.container-footer-content {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.container-footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-links-column {
    display: flex;
    flex-direction: column;
}

.logo-footer {
    width: 180px;
    height: auto; 
    margin: 3px 5px 1px 10px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin: 10px;
}

footer li a:link,
footer li a:visited {
    color: var(--dark-grey);
    text-decoration: none;
}

footer li a:hover,
footer li a:active {
    color: var(--red);
    border-bottom: var(--red) 2px solid;
    border-top: var(--red) 2px solid;
}

.logo-label-footer {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2px;
}

@media screen and (min-width: 1px) and (max-width: 394px) {
    .container-footer-content {
        margin: 20px 0;
    }

    .container-footer-links {
        flex-direction: column;
        justify-content: center;
    }

    .footer-links-column {
        margin: -23px 0;
        height: fit-content;
        width: 200px;
        text-align: center;
    }
}




/* Content */
.container-content {
    min-height: 400px;
    width: 60%;
    border: var(--red) 3px solid;
    margin: 10% 0;
    padding: 2% 5%;
    font-size: 1.3rem;
    line-height: 1.4;
    background-color: var(--light-grey);
    letter-spacing: .5px;
    color: var(--black);
}

.container-content a:link,
.container-content a:visited {
    color: var(--dark-grey);
    font-weight: bold;
    text-decoration: none;
}

.container-content a:hover,
.container-content a:active {
    color: var(--red);
    text-decoration: underline;
}

.container-content h1 {
    text-align: center;
    color: var(--red);
    text-shadow: 3px 2px var(--white);
}

.container-graduate-list-row {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.container-graduate-list-row img {
    width: 100px;
    height: auto;
}





